wsbuild/Ephus/obj/
wsbuild/Ephus.v11.suo
wsbuild/Ephus/bin/
wsbuild/EphusTestFramework/bin/
wsbuild/EphusTestFramework/obj/
*.asv
*.p
*.mold
*.molder
*.mat
*.ncb
*.suo
*.pdb
*.ilk
*.obj
*.pch
*.manifest
*.idb
*.dep
*.user.user
BuildLog.htm
*.user
*.tlog
*.lastbuildstate
+dabs/+axon/MultiClampTelegraph.log
+dabs/+axon/MultiClampTelegraph.sdf
+dabs/+axon/MultiClampTelegraph.opensdf
+dabs/+axon/MultiClampTelegraph.Build.CppClean.log
+dabs/+axon/MultiClampTelegraph.exp
+dabs/+axon/MultiClampTelegraph.lib
